{:duct.profile/base
 {:duct.core/project-ns sapid

  :duct.router/ataraxy
  {:routes {[:get "/static"]
            [:sapid.handler/static]}}

  :sapid.handler/static
  {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 :sapid.core/register {}}

