{:duct.profile/base
 {:duct.core/project-ns "my-project"
  :duct.router/ataraxy {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 :sapid.core/duct-routes {}}

