{:duct.profile/base
 {:duct.core/project-ns duct-db-rest

  :duct.router/ataraxy
  {:routes {[:get "/static"]
            [:duct-db-rest.handler.sql/static]}}

  :duct-db-rest.handler.sql/static
  {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 :duct-db-rest.module.sql/register {}}

