{:duct.profile/base
 {:duct.core/project-ns lapis

  :duct.router/ataraxy
  {:routes {[:get "/static"]
            [:lapis.handler/static]}}

  :lapis.handler/static
  {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 :lapis.core/register {}}

